.tip {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  align-self: flex-start;
}

.tip-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  width: 110px;
  margin-bottom: 15px;
}
