

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator {
  display: flex;
  background-color: var(--card-background-color);
  gap: 40px;
  padding: 20px;
  max-width: 750px;
  border-radius: 20px;
}

.tip-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 50%;
}

.result {
  background-color: var(--primary-color);
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

label {
  color: var(--label-color);
}